/*font file from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Martel:wght@300;400;600;700;900&display=swap');

body{
    background: #141414;
    background-image: url(assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color:#dcd5ec;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    line-height: 2;
    font-weight: 300;
}
img{
    max-width: 100%;
}


header{
    display: flex;
    justify-content: space-between;
    padding:24px;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    flex-wrap: wrap;
    gap:16px;
    border-radius: 24px;
    backdrop-filter: blur(18px);
    position: fixed;
    top: 8px;
    right: 16px;
    left: 16px;
    z-index: 100;
}
main{
    margin-top: 140px;
}
.download-button{
    display: flex;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;
    background: rgba(255,255,255,0.3);
    border-radius: 50px;
}
.download-button:hover{
    background-color: rgb(0, 106, 255);
}
.download-icon{
    width: 20px;
    height: 20px;
}
.name-logo{
    font-size: 20px;
    text-decoration: none;
    color: #dcd5ec;
    font-weight: bold;
}
.socials{
    display: flex;
    gap:16px;
    margin: 0;
    align-items: center;
    padding: 0;
}
.socials>a{
    text-decoration: none;
    color: #fff;
    display: flex;
}
.social-icon>img{
    height:32px;
    width:32px;
}
.social-icon>img:hover{
    transform: scale(1.25);
    transition: ease-in-out;
}
section{
    max-width: 650px;
    margin: auto;
    padding: 80px 24px;
    text-align: center;
}
.hero-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:32px;
    padding:24px;
    flex-direction: column;
    text-align: center;
}
.hero-section>h2{
    font-weight: 600;
    letter-spacing: 6px;
    font-size: 32px;
}
.hero-photo{
    width: 200px;
    height: auto;
    border-radius: 500vw;
}

/*flip photo css start*/

.flip-container {
    -webkit-perspective: 1000;
    background: transparent;
}
/* flip the picture when hover */

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
}

.flip-container,
.front,
.back,
.flip-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 150vw;
}
/* flip speed */

.flipper {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    position: relative;
}
/* hide back  during flip */

.front,
.back {
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
/* front placed above back */

.front {
    z-index: 2;
}
/* back, initially hidden */

.back {
    -webkit-transform: rotateY(180deg);
    background: rgb(218, 138, 138);
}

/*flip photo css end*/


.thin-text{
    font-weight: 200;
}

.swiper-slide{
    aspect-ratio: 16/9;
    object-fit: cover;
    height: auto;
    background-color: red;
}

.bleedbold .slide1{
    background-image: url(assets/images/bleedbold1.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bleedbold .slide2{
    background-image: url(assets/images/bleedbold2.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}
.bleedbold .slide3{
    background-image: url(assets/images/bleedbold3.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

.nyutandon .slide1{
    background-image: url(assets/images/nyu1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.nyutandon .slide2{
    background-image: url(assets/images/nyu2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}
.nyutandon .slide3{
    background-image: url(assets/images/nyu3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

.prose .slide1{
    background-image: url(assets/images/projectimg1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}
.prose .slide2{
    background-image: url(assets/images/projectimg2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}
.prose .slide3{
    background-image: url(assets/images/projectimg3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}
.prose .slide4{
    background-image: url(assets/images/projectimg4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}
.prose .slide5{
    background-image: url(assets/images/projectimg5.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}
.prose .swiper-slide {
    background-color:#fff;
    background-size:contain;    
}

.ta .slide1{
    background-image: url("assets/images/ta1.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}
.ta .slide2{
    background-image: url("assets/images/ta2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

section.projects p, section.projects h2{
    margin: 0;
}

footer{
    text-align: center;
    padding: 8px;
    background: #141414;
}

@media screen and (max-width: 768px) {
    .social-icon>img{
    height:28px;
    width:28px;
    }
    header{
        align-items: center;
    }
}